{{#each products}}
{{#if (isStock this.stock)}}
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>${{this.price}}</p>
<p>{{this.category}}</p>
<p>{{this.stock}}</p>
<p>{{this.status}}</p>
<p>{{this.code}}</p>
{{/if}}
{{/each}}